<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="x5-orientation" content="portrait">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
    <title>历史收益率</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/historyAmt.css" />
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="js/jquery-1.8.2.min.js"></script>
</head>
<body class="whiteBkg">
    <div id="rateEarn">
        <div class="allEarn fontSize0">
            <em class="inlineB fontSize36 color999" :class="{current:isSelect=='year'}" @click="select('year')"><span class="positionR">年化收益率</span></em>
            <em class="inlineB fontSize36 color999" :class="{current:isSelect=='coupon'}" @click="select('coupon')"><span class="positionR">加息收益率</span></em>
        </div>
        <ul class="historyAmtList fontSize28" v-if="isSelect=='year'">
            <li class="PLR5P">
                <p class="textL">2017/10/12</p>
                <div class="clearfix MT5">
                    <div class="fl widthDiv" :style=""></div>
                    <span class="fr color333">100</span>
                </div>
            </li>
            <li class="PLR5P">
                <p class="textL">2017/10/12</p>
                <div class="clearfix MT5">
                    <div class="fl widthDiv" :style=""></div>
                    <span class="fr color333">100</span>
                </div>
            </li>
            <li class="PLR5P">
                <p class="textL">2017/10/12</p>
                <div class="clearfix MT5">
                    <div class="fl widthDiv" :style=""></div>
                    <span class="fr color333">100</span>
                </div>
            </li>
            <li class="PLR5P">
                <p class="textL">2017/10/12</p>
                <div class="clearfix MT5">
                    <div class="fl widthDiv" :style=""></div>
                    <span class="fr color333">100</span>
                </div>
            </li>
        </ul>

        <ul class="historyAmtList fontSize28" v-if="isSelect=='coupon'">
            <li class="PLR5P">
                <p class="textL">2017/10/12</p>
                <div class="clearfix MT5">
                    <div class="fl widthDiv" :style=""></div>
                    <span class="fr color333">100</span>
                </div>
            </li>
            <li class="PLR5P">
                <p class="textL">2017/10/12</p>
                <div class="clearfix MT5">
                    <div class="fl widthDiv" :style=""></div>
                    <span class="fr color333">100</span>
                </div>
            </li>
        </ul>

    </div>
</body>
<script>

    var VM = new Vue({
        el: '#rateEarn',
        data: function(){
            return {
                isSelect:'year'
            }
        },
        methods:{
            select: function(val){
                this.isSelect = val;
            }
        }
    })

</script>
</html>